#container {
    max-width: 1200px;
    min-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

#banner {
    width: 1100px;
    height: 250px;
    margin: 0 auto;
}



article ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 2em;
    
}
article ul {
    padding: 0;
}

body {
    font-family: 'Andika', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333333;
    background-color: #f9f9f9;
    margin: auto;
    padding: 20px;
   text-align: center;
}
h1 {
    font-size: 36px;
}
h1, h2, h3 {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
    color: #222222;
}

main {
    display: flex;
    justify-content: center;
    gap: 80px;

}
a {
    text-decoration: none;
}