#container {
    max-width: 1200px;
    min-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    border: 3px solid #19FA1C;
}

#banner {
    width: 1100px;
    height: 250px;
    margin: 0 auto;
}

img {
    width: 25%;
    height: auto;
}

article ul li {
    list-style-type: none;

    padding: 0;
    line-height: 2em;
    
}
article ul {
    padding: 0;
    list-style: none;
    margin: 0;

}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.6;
    color:#19FA1C;
    background-color: #f9f9f9;
    margin: auto;
    padding: 40px;
   text-align: center;
     background-color: black;
}
h1 {
    font-size: 36px;
}
h1, h3 {
  font-family: "roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
    color:#19FA1C;
}
h2 {
    color: #002F00;
    background-color: #008E00;
    padding: 15px 20px;
    margin: 20px 0;
}

main {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-bottom: 80px;
    margin-top: 40px;
}
a {
    text-decoration: none;
    color: #19FA1C;
}