#container {
    max-width: 1200px;
    min-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    border: 3px solid #19fa1c;
}

#banner {
    width: 1100px;
    height: 250px;
    margin: 0 auto;
}

img {
    width: 25%;
    height: auto;
}

article p {
    width: 400px;
}
article ul li {
    list-style-type: none;

    padding: 0;
    line-height: 2em;
    
}
article ul li:hover {
    background-color:#19fa1c ;
    
}
ul li a:hover {
    color: #002F00;
    background-color:#19fa1c ;
}
article ul {
    padding: 0;
    list-style: none;
    margin: 0;

}
#big {
    font-size: 36px;
    margin: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.6;
    color:#19FA1C;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0 40px;
   text-align: center;
     background-color: black;
}
h1 {
    font-size: 36px;
    margin: 10px 0;
}
h1, h3 {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
    color:#19FA1C;
}
h2 {
    color: #002F00;
    background-color: #008E00;
    padding: 15px 20px;
    margin: 5px 0;
}

main {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-bottom: 0;
    margin-top: 0;
}
a {
    text-decoration: none;
    color: #19FA1C;
}

#spin {
    width: 300px;
    animation: spin 4s linear infinite;
    vertical-align: middle;
}
#spin-reverse {
    width: 300px;
    animation: spin-reverse 4s linear infinite;
    vertical-align: middle;
}
#interact-icon:hover {
    vertical-align: middle;
    animation: wiggle .7s ease-in-out infinite;
}
footer {
    gap: 40px;
    padding: 0;
    margin: 0;
    font-size: 10px;
    display: flex;
    justify-content: center;
 

}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes spin-reverse {
    from { transform: rotate(0deg); } 
    to { transform: rotate(-360deg); }
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(15deg); }
    40% { transform: rotate(-15deg); scale: 2; }
    60% { transform: rotate(15deg); scale: 2; }
    80% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}