p  {
    font-family: "Homenaje", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2 {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
      
}
h1 {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
body {
    color: #333;
    line-height: 1.5em;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

header, footer {
    background-color: #ccc;
    text-align: center;
    height: 125px;
    display: grid;
    place-content: center;
}

main {
    display: flex;
    width: 900px;
    margin: auto;
   
    box-sizing: border-box;
}

section {
    flex: 1;
    padding: 40px;
}

#madlib-questions {
    display: none;
}

#madlib-output {
    display: block;
}

form input, form label {
    display: block;
}

form input {
    margin-bottom: 1em;
}

span {
    font-weight: bold;;
}