body{
    background-color: rgb(14, 14, 14);

}
h1 {
    font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
    color: white;
}

p {
    color: white;
    font-family: "Metrophobic", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: none;
}

article{
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
article img {
    flex: 1;
    width: 0;
    height: 60vh;
    object-fit: cover;
    transition: width 0.4s ease, opacity 0.4s ease;
}

#hint {
    display: block;
}
