body{
    background-color: rgb(14, 14, 14);

}
h1 {
    font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
    color: white;
}

p {
    color: white;
    font-family: "Metrophobic", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: none;
}

article{
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    height: calc(60vh + 20px);
}
article img {
    flex: 1;
    width: 0;
    height: 60vh;
    object-fit: cover;
    transition: flex 0.6s cubic-bezier(.25,.8,.25,1);
}

article:hover img {
    flex: 1;
}

article img:hover {
    flex: 5; 
    cursor: pointer; 
}

#hint {
    display: block;
}
