#container {
    max-width: 1200px;
    min-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    border: 3px solid #19fa1c;
}

#banner {
    width: 1100px;
    height: 250px;
    margin: 0 auto;
}

img {
    width: 50%;
    height: auto;
    transform: scaleX(-1);
}


article ul li {
    list-style-type: none;

    padding: 0;
    line-height: 2em;
    
}
.pspacing {
    padding: 0 140px;
}
#link {
    padding: 10px;
    border:1px solid #19fa1c ;
}
#link a {
    display: block;
    font-weight: bolder;
    text-decoration: underline;
}
#link:hover {
    padding: 10px;
    background-color: #19FA1C;
    transform: scale(1.4);
}
#link a:hover {
    color: #002F00;
}
article h3 {
    margin: 10px 300px
}
article {
    max-width: 800px;
    border-bottom: 1px solid #19fa1c;
     border-top: 1px solid #19fa1c;
      background-color: #001d00;

}
article p {
    text-align: left;
  line-height: 1.8em;
    padding: 0 20px;
   
}
.time {
    text-align: center;
}
article ul li:hover {
    background-color:#19fa1c ;
    
}
ul li a:hover {
    color: #002F00;
    background-color:#19fa1c ;
}
article ul {
    padding: 0;
    list-style: none;
    margin: 0;

}
#big {
    font-size: 36px;
    margin: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.6;
    color:#19FA1C;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0 40px;
   text-align: center;
     background-color: black;
}
h1 {
    font-size: 36px;
    margin: 10px 0;
}
h1, h3 {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
    color:#19FA1C;
}
h2 {
    color: #000000;
    background-color: #008E00;
    padding: 15px 20px;
    margin: 20px;
}

main {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 40px;    
    justify-content: center;
    gap: 120px;
    margin-bottom: 0;
    margin-top: 0;
}
a {
    text-decoration: none;
    color: #19FA1C;
}




footer {
    gap: 40px;
    padding: 0;
    margin: 0;
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}