body{
    background-color: rgb(14, 14, 14);

}
h1 {
    font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
    color: white;
}

p {
    color: white;
    font-family: "Metrophobic", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: none;
  font-size: 16px;
  text-align: left;
  align-items: center;
  padding: 10px 400px;
  line-height: 1.6em;
}
#hint {
    text-align: center;
}

article{
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
article img {
    flex: 1;
    width: 0;           
    height: 60vh;       
    object-fit: cover;
    transition: flex 0.3s ease; 
}

article img:hover {
    flex: 3; 
    border: double rgba(255, 255, 255, 0.75);
    
}